@model project.Models.MemberModel

@{
    ViewData["Title"] = "MemberEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>MemberEdit</h1>

<h4>MemberModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MemberName" class="control-label">Member Name</label>
                <input asp-for="MemberName" class="form-control" />
                <span asp-validation-for="MemberName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberAdress" class="control-label">Member Adress</label>
                <input asp-for="MemberAdress" class="form-control" />
                <span asp-validation-for="MemberAdress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberPhoneNumber" class="control-label">Member Phone Number</label>
                <input asp-for="MemberPhoneNumber" class="form-control" />
                <span asp-validation-for="MemberPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberEmail" class="control-label"></label>
                <input asp-for="MemberEmail" class="form-control" />
                <span asp-validation-for="MemberEmail" class="text-danger">Member Email</span>
            </div>
            <div class="form-group">
                <label asp-for="MemberMembershipExpirationDate" class="control-label">Membership Expiration Date</label>
                <input asp-for="MemberMembershipExpirationDate" class="form-control" />
                <span asp-validation-for="MemberMembershipExpirationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
