@{
    ViewData["Title"] = "Home Page";
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <center>
                <h2>Why us?</h2>
                <p><b>Our 3 primary features</b></p>
                <center>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <center>
                    <img width="150px" length="150px" src="images/online-library.png" />
                    <h4>Digital Book Inventory</h4>
                    <p>The entire collection of volumes of the library is stored online and can be seen by the members.</p>
                <center>
            </div>
            <div class="col-md-4">
                <center>
                    <img width="150px" length="150px" src="images/book.png" />
                    <h4>Search up books</h4>
                    <p>Every member of the library can search up books before leaving home.</p>
                <center>
            </div>
            <div class="col-md-4">
                <center>
                    <img width="150px" length="150px" src="images/return.png" />
                    <h4>Loan Status</h4>
                    <p>The library's memembers can see the status of the loan every time they want to.</p>
                <center>
            </div>
        </div>


    </div>
</section>
<section class="section-margin">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <center>
                    <h2>What are the steps?</h2>
                    <p><b>There are only 3 easy steps</b></p>
                    <center>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <center>
                    <img width="150px" length="150px" src="images/add-friend.png" />
                    <h4>Sign up</h4>
                    <p>Sign up as a member of our library and explore one of the greatest books collection in the city.</p>
                    <center>
            </div>
            <div class="col-md-4">
                <center>
                    <img width="150px" length="150px" src="images/search.png" />
                    <h4>Search our database</h4>
                    <p>Search the book that you are looking for and see its availability before leaving your house.</p>
                    <center>
            </div>
            <div class="col-md-4">
                <center>
                    <img width="150px" length="150px" src="images/library.png" />
                    <h4>Visit us</h4>
                    <p>Did you find it? It's time to pay us a visit and loan any book.</p>
                    <center>
            </div>
        </div>


    </div>
</section>